@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --color-primary: #0a685a;
  --color-secondary: #23ab85;
  --color-accent: #f7fffd;
  --color-background: #fff;
  --color-typography: #091316;
  --color-typography-secondary: #616161;
  --color-danger: #b90404;
}

body {
  background-color: var(--color-accent);
  color: var(--color-typography);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  display: hidden;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}
